<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>userCards</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<div class="container" th:fragment="userCards">
    <div class="card m-5" th:each="user: ${users}">
        <div class="card-body">
            <h3 class="card-title"><a th:text="${user.username}" th:href="@{/admin/user/{id}(id=${user.id})}"></a></h3>
            <h3>User roles:</h3>
            <div th:each="role: ${user.roles}">
                <h4 class="card-text"><a th:text="${role.name}" th:href="@{/admin/role/{id}(id=${role.id})}"></a></h4>
            </div>
            <h5 class="card-text">User created: <span th:text="${#dates.format(user.createdTime, 'HH:mm dd MMM yyyy')}"></span></h5>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>